div#header-hidden {
	width: 100%;
	visibility: hidden;
}
div#header h1, div#header-hidden h1 {
	width: 100%;
	height: 48px;
	top: 0;
	left: 0;
	font-size: 2em;
	background-color: #6CB3D9;
	text-align: middle;
}
div#header img, div#header-hidden img {
	float: left;
	margin: .2em .6em 0 .75em;
}
p.clearFloat {
	clear: both;
}
div#topbar {
	width: 100%;
	clear: both;
	float: left;
	/*background-color: brown;*/
	/*display: inline-block;*/
}
div#topbar ul {
	list-style-type: none;
	/*padding-left: 0;*/
}
div#topbar ul li {
	/*background-color: blue;*/
	text-align: center;
	display: inline;
	width: 29%;
	float: left;
	/*margin: 0 0 .25em 0;*/
}
div#topbar ul li a {
	font-family: font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 800;
	text-decoration: none;
	color: white;
	display: block;
	padding: .35em ;
}
li.changeTopbarBackground {
	background-color: blue;
}
li.changeTopbarBackground:hover {
	background-color: lightBlue;
}
li.changeTopbarBackground:active {
	background-color: darkblue;
}

p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.2em;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
}
p.important {
	font-size: 1.5em;
	font-weight: 900;
}
.typewriter {
	font-family: "Courier New", Courier, monospace;
}
.itali {
	font-style: italic;
}
.redcolor {
	color: #cc0000;
}
.lineheight {
	line-height: 1.4em;
}
.wordspace {
	word-spacing: 1.2em;
}
.letterspace {
	letter-spacing: 1.5em;
}
h3 {
	text-align: center;
}
p.just-left {
	text-align: left;
}
p.indent {
	text-indent: 1.5em;
}
blockquote {
	font-size: .8em;
}
p.fourmargins {
	margin: 1em;
}
.dashed-border {
	border: 3px dashed green;
}
.border-padding {
	border: 3px solid purple;
	padding: .4em;
}
h2#id-h2-color-red {
	color: red;
}
div#main-div {
	margin-left: 3em;
	margin-right: 3em;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
img.block {
	display: block;
}
img.totheright {
	margin-left: 1em;
}
img.inTheMiddle {
	display: block;
	margin: 0 auto 0 auto;
}
img.floatLeft {
  float: left;
}
img.wrap {
  clear: both;
}

li {
	margin: .75em;
}
.lists {
	list-style-position: inside;
}
ul {
	list-style-type: square;
}
div.doublesize p {
	font-size: 2em;
}
th, td {
	border: 2px solid blue;
	padding: .25em;
}
table {
	border-collapse: collapse;
	padding: .25em;
}
table.simpletable {
	width: 60%;
	text-align: center;
}
th, td.fiftyfifty {
  width: 50%;
}
th#top {
	vertical-align: top;
}
div.smallbox {
	width: 20%;
	background-image: url(http://www.asmarterwaytolearn.com/gray-gradient-slice.png);
	margin: 0 auto 0 auto;
}
div#box1 {
	width: 45%;
	float: left;
	text-align: center;
    clear: both;
}
div#box2 {
	width: 45%;
	float: right;
	margin: 0 0 0 1em;
	text-align: center;

}
p.clear {
	clear: both;
}
div#clear-container {
	border: 1px solid brown;
	width: 90%;
	margin: 0 auto 0 auto;
}
div#bttlink {
	clear: both;
	text-align: center;
}

/*
This is for adjust the input of a text field
and the input for a large text area field
*/
input[type="text"], textarea {
	font-size: 2em;
	padding: .5em;
}